body{
    margin: 0;
    padding: 0;
}

#header{
    height: 102vh;
    background-image: url("../img/contact-header.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

#contact-area .address-holder{
    background-color: #1e73be; 
}
#contact-area .contact-form {
    background-image: url(../img/contact.jpeg); 
}

#contact-area input,
#contact-area textarea {
    background: transparent;
    border: 1px solid white;
    padding: 8px;
    display: block;
    margin: 20px 0px 0px 0px;
    width: 80%;
    color: white;
}

#contact-area .address-holder {
    padding-left: 25px;
}

#map{
    height: 60vh;
}
#footer{
    background-color: #292929;
    background-image: url("https://www.transparenttextures.com/patterns/arches.png");
}





@media only screen and (max-width: 767px) {

    /* FOR MOBILE DEVICES */

    #contact-area .address-holder{
        padding: 15px 5px 15px 5px;
    }

    .contact-form {
        padding: 20px;
    }

    #footer{
        padding: 40px 10px 40px 10px;
    }
    #footer .useful-links {
        margin-bottom: 40px;
    }
    #footer .logo {
        margin-bottom: 40px;
    } 

}
  
@media only screen and (min-width: 768px) {

    /* FOR TABLETS AND PCs */



    #contact-area{
        min-height: 55vh;
    }
    #contact-area .container-fluid,
    #contact-area .row{
        min-height: 55vh;
    }
    #contact-area .address-holder {
        align-items: flex-start;
    }
    #contact-area .address-holder{
        padding-left: 40px;
    }
    #contact-area .address-holder h2{
        margin-bottom: 20px;
    }
    #contact-area .contact-form{
        padding-top: 35px;
        padding-bottom: 35px;
    }

    #footer{
        padding: 100px 20px 100px 20px;
    }
    
    
}